/* the style order try to follow the same html order */

/* mobile first */
#page-landing {
    background: linear-gradient(329.54deg, #014065 0%, #002c46 100%);

    text-align: center;
    min-height: 100vh;
    min-width: 439px;

    display: flex;
}

#container {
    margin: auto;

    width: min(90%, 112rem);
}

.location, h1, section p {
    height: 16vh
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;

    animation-delay: 50ms;
}

.logo p {
    padding-left: 10px;
    font-size: 24px;
    font-weight: 800;
}

.location {
    animation-delay: 100ms;
}

.main h1 {
    animation-delay: 150ms;

    /* clamp(min, ideal, max) */
    font-size: clamp(4rem, 8vw, 8.4rem);
}

section p {
    animation-delay: 200ms;

    padding-top: 50px;
}

.visit {
    width: 8rem;
    height: 8rem;
    background: rgb(247, 150, 51);

    border: none;
    border-radius: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    transition: background .2s;

    animation-delay: 250ms;
}

.visit:hover {
    background: rgb(110, 193, 228); 
}

/* desktop */
@media(min-width:760px) {
    #container {
        background: url('../../assets/landing.png') 
            no-repeat 80% / clamp(40rem, 54vw, 76rem);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .location, h1, section p {
        height: initial;
        text-align: initial;
    }

    .logo {
        padding-bottom: 0;
    }

    .location {
        text-align: right;
        font-size: 2.4rem;
        line-height: 1.5;
    }

    main h1 {
        font-weight: bold;
        line-height: .88;

        margin: clamp(10%, 9vh, 12%) 0 4rem;

        width: min(300px, 80%);
    }

    section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section p {
        font-size: 2.4rem;
        line-height: 1.5;
        width: clamp(20rem, 20vw, 30rem);

        padding-top: 0;
    }

    .visit {
        margin: initial;
    }
}
