@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    height: 100vh;
    
    color: rgb(255, 255, 255);
    background: #ebf2f5;
}

/* the others don't use the default font of the body */
/* / represents line-height */
body, input, button, textarea {
    font: 400 1.8rem/1 'Nunito', sans-serif;
}
